{% extends "base.html" %}

{% block content %}

  {% if tasks %}
  <h1 class="text-center p-5">Your Tasks To Do</h1>
    <div class="p-5">
      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr style="background-color: rgb(121, 182, 235); color: white;">
              <td>{{ task.taskTitle }}</td>
              <td>{{ task.taskDescription }}</td>
              <td>Incomplete</td>
              <td>
                <a class="btn btn-danger" href="{% url 'delete_Task' task.id %}">Delete</a>
                <a class="btn btn-primary" href="{% url 'edit_Task' task.id %}">Edit</a>
                <a class="btn btn-success" href="{% url 'complete_Task' task.id %}">complete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <h1 class="text-center p-5">No tasks Added Yet</h1>
  {% endif %}
{% endblock content %}

